.side-nav-container {
  width: 100%;
}

.accordion-button.cannot-open::after {
  background-image: none;
}

.list-group-item.list-group-item-action {
  border-radius: 15px !important;
}

.main-menu-header {
  display: flex;
}
.main-menu-header span {
  white-space: nowrap;
}

.side-nav-container .navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

@media only screen and (min-width: 768px) {
  .side-nav .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
